body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
    background-color: white;
}

label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    padding: 5px;
    background-color: bisque;
}

input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: solid;
    border-width: 5px;
    background-color: bisque;
}

form {
    background-image: url(https://img.freepik.com/free-vector/background-white-elegant-texture_23-2148438404.jpg?size=626&ext=jpg);
    border: solid 1px;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.conteudo {
    margin: 10px;
}

button {
    border-style: groove;
    border-radius: 5px;
    border-width: 10px;
    border-color: aquamarine;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
}

#labelBotao {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border: none;
    background-color: transparent;
}


@media only screen and (min-width: 1000px){
    form {
        flex-direction: column;
    }

  

}

@media only screen and (max-width: 1000px){
    form {
        flex-direction: row;
    }
}