body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#Salario {
  -webkit-appearance: none;

}

#Titulo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#Salario {
  -moz-appearance: textfield;
}

#AdicionarEmpregado {
    width: 30%;
    height: 50%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 4px solid black;

}

.input {
   border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    width: 250px;
    margin-right: 50px;
}

.label {
    margin-left: 25px;
}

.DuplaInput {
    padding-top: 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#TabelaEmpregados {
    border-collapse: collapse;
    margin: auto;
}

td, th {
    padding: 7px;
    border: 1px solid black;
}

#CabecalhoTabela {
    background-color: grey;
}

p {
    display: inline;
}

#botoesEscolha {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.botaoEdicao {
    color: blue;
}

.botaoEdicao {
    cursor: pointer;
}

#AtualizarTabela {
    margin-bottom: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}